.booking-img {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
}

.divider span {
    font-size: 20px;
}
.divider::after {
    background-color: #6d6d6d;
}
.divider::before {
    background-color: #6d6d6d;
}

.booking-info {
    font-size: 15px;
    text-align: right;
}
.booking-info p {
    text-align: right;
}

.ant-picker {
    color: orangered;
    border-color: orangered;
}
.ant-picker:hover {
    color: orangered;
    border-color: orangered;
}
.ant-picker-input input::placeholder {
    color: orangered !important;
}
.ant-picker:focus-within {
    border-color: orangered !important;
}
.ant-picker-range-separator svg {
    color: orangered;
}
.ant-picker-active-bar {
    background: orangered !important;
}
.ant-picker-suffix span {
    color: orangered;
}
.ant-picker-clear span {
    color: orangered;
}

.ant-checkbox span {
    border-color: orangered !important;
}
.ant-checkbox.ant-checkbox-checked span {
    background-color: orangered !important;
}
.ant-checkbox-wrapper > span:nth-child(2) {
    font-size: 15px;
}