.car {
    border-radius: 5px;
    margin-top: 100px;
    height: 160px;
    transition: 0.3s;
}
.car:hover {
    height: 220px;
}
.car:hover > .car-content {
    opacity: 1;
    transform: translateY(-40px);
}
.car-img {
    height: 170px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    transform: translateY(-50px);
}
.car-content {
    transform: translateY(-200px);
    opacity: 0;
    transition: 0.3s;
}
.btn1 {
    box-shadow: none;
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}
.btn1 a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 5px !important;
    text-align: left;
    padding: 0;
}