.car {
    border-radius: 5px;
    margin-top: 100px;
    height: 160px;
    transition: 0.3s;
}
.car:hover {
    height: 220px;
}
.car:hover > .car-content {
    opacity: 1;
    transform: translateY(-40px);
}
.car-img {
    height: 170px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    transform: translateY(-50px);
}
.car-content {
    transform: translateY(-200px);
    opacity: 0;
    transition: 0.3s;
}
.btn1 {
    box-shadow: none;
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}
.btn1 a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 5px !important;
    text-align: left;
    padding: 0;
}

.ant-picker {
    color: orangered;
    border-color: orangered;
}
.ant-picker:hover {
    color: orangered;
    border-color: orangered;
}
.ant-picker-input input::placeholder {
    color: orangered !important;
}
.ant-picker:focus-within {
    border-color: orangered !important;
}
.ant-picker-range-separator svg {
    color: orangered;
}
.ant-picker-active-bar {
    background: orangered !important;
}
.ant-picker-suffix span {
    color: orangered;
}
.ant-picker-clear span {
    color: orangered;
}

.ant-popconfirm-buttons {
    display: flex;
    flex-direction: row;
}