.car {
    border-radius: 5px;
    margin-top: 100px;
    height: 160px;
    transition: 0.3s;
}
.car:hover {
    height: 220px;
}
.car:hover > .car-content {
    opacity: 1;
    transform: translateY(-40px);
}
.car-img {
    height: 170px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    transform: translateY(-50px);
}
.car-content {
    transform: translateY(-200px);
    opacity: 0;
    transition: 0.3s;
}
.btn1 {
    box-shadow: none !important;
    background-color: white !important;
    color: orangered !important;
    border: 1px solid orangered !important;
}
p {
    margin: 5px !important;
    text-align: left;
    padding: 0;
}